.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.advice{
  display: grid;
  place-items: center;
  width: 400px;
  height: 250px;
  background-color: #323A49;
  border-radius: 10px;
}

.quote{
  font-size: 28px;
  color: #ccc;
}