@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #1f2632;
  font-family: "Manrope", sans-serif;
}

@media (max-width: 600px) {
  body {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
}
